<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/zui/1.9.2/css/zui.min.css">
    <style>
        .cards-wrapper {
            margin: 1%;
        }

        .main-buttons-wrapper {
            margin: 1%;
        }

        .main-buttons-wrapper > button {
            margin-right: 1%;
        }

        .button-wrapper > button {
            margin: 1%;
        }
    </style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//cdn.bootcss.com/zui/1.9.2/lib/jquery/jquery.js"></script>
<script src="//cdn.bootcss.com/zui/1.9.2/js/zui.min.js"></script>
<div class="main-buttons-wrapper">
    <button class="btn btn-lg btn-primary">选择文件或拖拽</button>
    <button class="btn btn-lg">上传文件</button>
</div>
<div class="cards-wrapper">
    <div class="cards">
        <div class="col-md-4 col-sm-6 col-lg-3">
            <div :id="item.id" class="card" v-for="item in items">
                <div class="card-heading">
                    <strong>{{ item.filename }}</strong>
                </div>
                <div class="progress progress-striped" v-bind:class="{ active: item.hasFinished === false }">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         :aria-valuenow="item.progress" aria-valuemin="0" aria-valuemax="100"
                         v-bind:style="{width: item.progress+'%'}">
                        <span class="sr-only">{{ item.progress }}%</span>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button class="btn btn-success" type="button" v-if="item.hasFinished === true"
                            :data-clipboard-text="item.cdnurl">
                        <i class="icon icon-copy"></i>
                        JsDelivr
                    </button>
                    <button class="btn btn-success" type="button" v-if="item.hasFinished === true"
                            :data-clipboard-text="item.githuburl">
                        <i class="icon icon-copy"></i>
                        Github
                    </button>
                    <button class="btn btn-danger" type="button" :onclick="deleteFile(item.id)">
                        <i class="icon icon-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var cards_vue = new Vue({
        el: '.cards',
        data: {
            items: [
                {
                    id: 'a1',
                    filename: 'qq.png',
                    hasFinished: true,
                    progress: 10,
                    cdnurl: '',
                    githuburl: '',
                    hasFinished: false
                }
            ]
        }
    });
    function addFIle() {

    }
    function deleteFile(element) {

    }
</script>
</body>
</html>